.resultsContainer {
    width:95%;
    display:inline-block;      
}

.filtersection {
    display:inline-block;
    vertical-align: top;    
    width:310px;;
}

.resultsection {
    display:inline-block;    
    width:70%;
    text-align: center;
    vertical-align: top;
}

.pageButton {
    width:40px;
    /*background-color:rgb(225, 229, 230);  */
    background-color :#EBDEF0;
    border-style: solid;  
    border-color: darkgrey;  
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;  
    font-size: 12px;
    /*color:#0B6623;*/
    color: #34495E;
}

.pageNavContainer {
    display:flex;
    width:80%;
    text-align: left;
    vertical-align: top;
}

.searchResultsCount {
    display:inline-block;
    width:35%;
    text-align: left;
    vertical-align: top;
    font-size: 18px; 
    font-weight: bold;
}

.pageNavigation {
   width:65%;
   display:inline-block;  
   text-align: right;
}

.profileResults {
    text-align: center;
}