.container {
    display: inline;
}

.barContainer {
    width: 100%;
    background-color: #565656;
    vertical-align: middle;
}

.barIContainer {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.barImage{
    padding-top : 10px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
}

.barText{
    display: inline-block;
    color:white;
    padding-left: 10px;
    vertical-align: middle;
    height: 80px;
}


/* Middle column */
.content {
    display:inline-block;
}

.contentLeft {
    display:inline-block;
}

.contentMiddle {
    display:inline-block;
}

.contentRight {
    display:inline-block;
}

.middlecontainer {
    width:100%;
    height: 600px;;
    border-width: 2px;
    background-image: url(../../assets/images/wedding.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.qregister {
    padding-top: 15px;
    display: inline-flex;    
}