.container {
    display: inline;
}


/* Middle column */
.content {
    display:inline-block;
}

.contentLeft {
    display:inline-block;
}

.contentMiddle {
    display:inline-block;
}

.contentRight {
    display:inline-block;
}

.middlecontainer {
    width:100%;
    height: 600px;;
    border-width: 2px;
    background-image: url(../../assets/images/wedding.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.qregister {
    padding-top: 30px;
    display: inline-flex;    
}