.container {
    display: inline;
}


/* Middle column */
.content {
    display:inline-block;
}

.contentLeft {
    display:inline-block;
}

.contentMiddle {
    display:inline-block;
}

.contentRight {
    display:inline-block;
}

