.topLeftSection {
    width:300px;
    display: inline-block;
    vertical-align: top;
}

.topMiddleSection {
    width:500px;
    display: inline-block;
    vertical-align: top;
}

.topRightSection {
    width:300px;
    vertical-align: top;
    display: inline-block;
}