.topLeftSection {
    width:15%;
    display: inline-block;
    vertical-align: top;
}

.topMiddleSection {
    width:60%;
    display: inline-block;
    vertical-align: top;
}

.topRightSection {
    width:20%;
    vertical-align: top;
    display: inline-block;
}