.topmenucontainer{
    width:100%;
    position: fixed;
    overflow: hidden;
    top:0;
}

.menuContainer {
    display:inline-block;
    text-align: left;
    width:50%;
    vertical-align: top;
    text-align: right;
}

.menufield{
    display: inline-block;
    padding-right : 5px;
}

.menufield a {
    padding-right : 30px;
}

.globalMenu{
    display: inline-block;
    padding-right : 5px;    
    padding-top: 5px;
}

.globalMenu a {
    padding-right : 30px;
    color: #6E2C00;
    font-weight: bold;
}

.logo {
    display:inline-block;
    text-align: left;
    vertical-align: middle;
    width:25%;
}

.logo img:hover {
    cursor: pointer;
 }

.matrimonyName {
    display:inline-block;
    padding-top:15px;
    vertical-align: top;
    font-family: 'pinyon script';
    font-size: 22px;
}
