.topmenucontainer{
    width:100%;
    /*border: 1px solid #DDFFCC; */
}

.menuContainer {
    display:inline-block;
    text-align: left;
    width:40%;
    vertical-align: top;
}

.menufield{
    display: inline-block;
    padding-right : 5px;
}

.menufield a {
    padding-right : 30px;
}

.globalMenu{
    display: inline-block;
    padding-right : 5px;    
    padding-top: 5px;
}

.globalMenu a {
    padding-right : 30px;
    color: #6E2C00;
    font-weight: bold;
}

.logo {
    display:inline-block;
    text-align: left;
    width:25%;
}