.topmenucontainer{
    width:100%;
    /*border: 1px solid #DDFFCC; */
}

.topmenuinnercontainer {
    text-align: center;
    height: 100%;
}

.logo {
    display:inline-block;
    width:40%;
}

.logo img:hover {
    cursor: pointer;
 }

/* Style the top navigation bar */
.topnav {    
    display:inline-block;
    width:40%;
    height: 75px;
    overflow: hidden;
    text-align: left;
}

/* Style the topnav links */
.topnav a {    
    text-align: center;
    padding: 25px 16px;   
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    color: black;
}