.topBar{
    height:120px;
    background-color: #00AA66;
    width:100%;
    position: fixed;
    overflow: hidden;
    top:0;
}

.globalBar {
    height:35px;
    background-color: #00AA66;
    width:100%;
}

.globalLogoOuter {    
    width:90%;
    text-align: center;
    display: inline-block;
}

.globalLogoLeft {
    display: inline-block;
    width:50%;
    text-align: left;
}

.globalLogoRight {
    display: inline-block;
    width:30%;
    padding-top:10px;
    text-align: right;
    vertical-align: top;
}