.profileContainer {   
    display:flex;   
    width:80%;
    background-color:#FFFFFF;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
    padding-top: 10px;
}

.otherText {
    font-size:14px;
}

.dateText {
    font-size:14px;
    padding-right: 5px;
}

.mIdText {
    font-size:14px;
    font-weight: bold;
    color:#4A235A;
}

.profileIdLabel {
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
}

.profileName {
    color: #34495E;
    font-size: 14px;
}

.hrefText {
    font-size: 15px;
    font-weight: bold;
}

.profileDetail {
    width:50%;    
}

.profileButton {
    height:100%;
    vertical-align:middle;
}

.verticalSpace {
    width:1%;
}

.profileSummarImage {
    width:25%;   
}

.profileSummary {
    width:100%;
}

.psBottom {
    width:100%;
    display: inline-block;
    vertical-align: top;
}

.summaryFullWidth {
    width:100%;
    text-align: left;
}

.ps75Percent {
    text-align: left;
    height: 100%;
    width:75%;
    display: inline-block;
}

.viewProfileDiv {
    text-align: right;
    vertical-align: top;
    width:25%;
    display: inline-block;
}