.profileSummaryContainer {   
    width:100%;
    background-color:#FFFFFF;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.profileSelfBtmLink {
    background-color: #00AA66;
    display: inline-block;
    width:50%;
    height : 30px;
    padding-top: 10px;
}