.profileParentContainer {   
    width:1100px;
    text-align: center;
    display:inline-block;
}

.profileHeading {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: #CA326B;
    width:49%;
}

.profileSectionHeading {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: left;    
    color: #CA326B;
    width:98%;
}

.pContainer {   
    background-color: #FFFFFF;
    width:97%;
    padding: 10px;   
}

.profileImage {
    text-align: left;
    width:420px;
    display: inline-block;
}

.profileDetail {
    border:1px solid;
    border-color: rgb(165, 189, 173);
    vertical-align: top;
    display: inline-block;
    width:370px;    
}

.profileButton {
    height:100%;
    vertical-align:middle;
}

.profileLabel {
    text-align: left;
    width:30%;
    display: inline-block;
}

.profileCenter {
    display: inline-block;
    padding-right: 2px;
}

.profileFieldContainer {
    padding-bottom: 5px;
}

.profileField {
    text-align: left;
    width:65%;
    display: inline-block;
}

.sectionContainer {
    background-color: #FFFFFF;
    width:100%;
}

.profileLeftConNoborder {    
    vertical-align: top;
    display: inline-block;
    width:44%;
}

.profileLeftContainer {
    border:1px solid;
    border-color: rgb(165, 189, 173);
    vertical-align: top;
    display: inline-block;
    width:44%;
}

.profileRowContainer {   
    background-color: #FFFFFF;
    vertical-align: top;
    display: inline-block;
    width:100%;
    padding-bottom: 50px;
}

.profilRightConNoborder {
    vertical-align: top;
    display: inline-block;
    width:45%;
}

.profilRightContainer {
    border:1px solid;
    border-color: rgb(165, 189, 173);
    vertical-align: top;
    display: inline-block;
    width:45%;
}

.profilRight100Per {  
    vertical-align: top;
    display: inline-block;
    width:100%;
}

.profileTopBar {
    width:100%;
    height:30px;
}

.profileHeading, font {
    font-size: 20px;
}

.closeButtonDiv {
    display: inline-block;
    text-align: right;
    width:3%;
}

.closeButton {
    width:20px;
    background-color: white;
    color:red;
}

.closeButtonDiv button:hover {
    cursor: pointer;    
 }