.profileContainer {   
    display:flex;   
    width:80%;
    background-color:#FFFFFF;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.profileName {
    color: #CA326B
}

.profileDetail {
    width:50%;    
}

.profileButton {
    height:100%;
    vertical-align:middle;
}

.verticalSpace {
    width:1%;
}

.profileSummarImage {
    padding-top: 10px;
    width:20%;
   
}

.profileSummary {
    width:90%;
}

.psBottom {
    width:100%;
    display: inline-block;
    vertical-align: bottom;
}

.profileId {
    text-align: left;
    height: 100%;
    width:70%;
    display: inline-block;
}

.viewProfileDiv {
    text-align: right;
    width:25%;
    display: inline-block;
}