.Modal {
    position: fixed;
    overflow: auto;
    z-index: 500;
    width: 1000px;
    background-color:#9999FF;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.closeImage{
    text-align: right;
}

.closeImage:hover {
    cursor: pointer;
}

@media (min-width: 1000px) {
    .Modal {
        width: 70%;
        left: calc(35% - 350px);
    }
}

@media (max-height: 800px) {
    .Modal {
        height: 600px;
        left: calc(35% - 250px);
    }
}

.RegisterModal {
    position: fixed;
    z-index: 500;
    width: 450px;
    left: 40%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.DisplayMessageModal {
    position: fixed;
    z-index: 500;
    width: 300px;
    left: 45%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.displayMessageContainer {   
    background-color: white;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    padding: 5px;    
    box-sizing: border-box;
}

.FeatureProfileModal {
    position: fixed;
    z-index: 500;
    width: 800px;
    left: 25%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.overlay {
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); /* color */
    display: none; /* making it hidden by default */
  }