.prefLableDiv {
    width:200px;
    text-align: left;
    display:inline-block;
}

.prefDataDiv {
    width:300px;
    text-align: left;
    display:inline-block;
}

.prefDataRow{
    padding-bottom: 20px;
}

.prefSectionContainer {
    width : 50%;
    margin: auto;
}

.prefHeader {
    height:28px;  
    width:100%;
    display: table;
    background-color:rgb(225, 229, 230);  
    /*background-color: #BE29EC;*/
    border-style: solid;  
    border-color: darkgrey;  
    vertical-align: center;
    text-align: left;   
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;  
    vertical-align: middle;    
  }