.rHeading {
    padding-top : 10px;
    padding-bottom : 10px;
    font-weight: bold;
    font-size: 18px;
}

.rrow{
    padding-bottom: 1px;
}

.rlabel {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.rfield {
    display: inline-block;
    width: 220px;
    text-align: left;
}

.rfieldSelect {
    display: inline-block;
    width: 220px;
    text-align: left;
}

.rcontainerOld {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 37%;
    top: 25%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.rcontainer {   
    background-color: white;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    padding: 5px;    
    box-sizing: border-box;
    display: inline-block;  
}

.rwlogincontainer {   
    background-color: white;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    padding: 5px;    
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.tandc{
    width:58%;
    display: inline-block;
    font-size: 14px;
}

.registerButton {
    width:38%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-right:10px;
}