.fcontainer {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    display:table; 
    width: 100%;
    /* background-color: #E7D4F8; */
    /* background-color : #D6DBDF; */
    background-color : #D6DBDF;
}

.footerBottom {
    position: fixed;
    bottom: 0;   
}

.copyRight {
    width:50%;    
    display:table-cell; 
    vertical-align: middle;
}

.socialMedia {
    width:50%;
    padding-top:5px;
    vertical-align: middle;
    display:table-cell;    
}

.socialMedia img {
    padding-right: 10px;
}

.socialMedia img:hover {
    cursor: pointer;
 }
/* Style the top navigation bar */
.footer {
    overflow: hidden;
    display: inline-block;
}

/* Style the topnav links */
.footer a {
    float: left;
    display:'flex';
    color: #108f5e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.footer a:hover {
    color: black;
}