.dashLeftLabel {
    display: inline-block;
    width:30%;
    text-align: left;
    padding-left: 10px;
}

.dashRightField {
    display: inline-block;
    width:50%;
    text-align: left;
    padding-left: 10px;
}

.dashboardContainer {   
    background-color:#FFFFFF;
    border: 1px solid #ccc;
}