.filterParent {
    border-style: solid;  
    border-color: darkgrey;  
    border-width: 1px;  
    background-color: #FFFFFF;
}

.filterContent {     
    width: 100%;
    vertical-align: middle;  
    text-align: left;     
    margin: 5px;
  }

.filterContentMSelect {     
    width: 95%;
    vertical-align: middle;  
    text-align: left;     
    margin: 5px;
  }

.filterLeft {
    width:50%;
    display:inline-block;
}

.filterRight {
    width:50%;
    display:inline-block;
}

.clearAllFilter {
    height:28px; 
    display:inline-block;
    width: 50%;
    text-align: left;
    vertical-align: middle;  
}

.clearAllFilter a {
    color: #0000EE;
    font-size: 14px;   
    padding-left: 5px;
    padding-top:10px;
}

.filterSubmit {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
    width:80px;
}

.filterButton {
    width:120px;
    height:40px;
    background-color : #DF744A; 
    font-size: 16px;
    border: 2px solid #DF744A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.education-more{
    padding:10px;
    color: #fff;
    background-color: #DA362A;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    width:190px;
    margin:30px;
}

div.education-more {
content: ' ';
	height: 0;
	position: absolute;
	width: 0;
    left:10px;
	border: 10px solid transparent;
	border-right-color: #DA362A;
}
