/* Style the topnav links */

.quicksearch {
    text-align: center;
}

.qSearchInner {
    width:700px;
    padding:8px;
    display: inline-block;   
}

.qSearchFields {
    display:inline-table;
    vertical-align: middle;
}

.qSearchFields div {
    display:inline-table;
    vertical-align: middle;
    text-decoration: none;
    padding:10px;
}