.identityContainer {
    width:600px;
    display: inline-block;
    border-style: solid;  
    border-color: darkgrey;  
    border-width: 1px;  
    background-color: #FFFFFF;
}

.identityLabel {
    width:150px;
    display: inline-block;
    text-align: left;
}

.identityField {
    text-align: left;
    width:250px;
    display: inline-block;
}

.identityFieldParent {
    padding-bottom: 15px;
}