.lfield{
    display: inline-block;
    padding-right : 5px;
}

.loginSection{
    display:inline-block;
    text-align: right;
    width:40%;
    vertical-align: top;
}

.rememberMe {
    display:inline-block;
    font-size:15px;
}

.loginContainer{
    background-color: #229954; 
    width:100%;
}