.lfield{
    display: inline-block;
    padding-right : 5px;
}

.loginSection{
    display:inline-block;
    text-align: right;
    width:50%;
    vertical-align: top;
}

.rememberMe {
    display:inline-block;
    font-size:15px;
}

.loginContainer{
   width:100%;
   vertical-align: middle;
}